@import "tailwindcss";
@font-face {
    font-family: 'outfit';
    src: url('./assets/fonts/static/Outfit-Regular.woff2');
}


* {
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
    list-style: none;
    
}

body{
    background-color: #111;

}

*::selection {
    background: #2f2f2f; /* Dark background */
    color: #ffffff; /* White text */
}
